<template lang="pug">
  #app
    router-view
</template>
<script>
import NavBar from '@/components/NavBar'
export default {
  
}
</script>
<style lang="scss">
.container {
  padding: 10px 0 0 0;
}
</style>
